In [1]:
import requests
import pandas as pd

In [13]:
# API url
base_url = "https://api.apilayer.com/therundown/sports/5" #id 5 is for NCAA men's basketball
endpoint = "/teams" # leave this separate in case I want to look at something else later
url = base_url+endpoint

# Pull in my api key without disclosing it
with open('rundown_api.txt', 'r') as file: 
    rundown_key = file.read()

headers= {
  "apikey": rundown_key
}

# Call api and ensure connection
r = requests.request("GET", url, headers=headers)
r.status_code # code of 200 means it successfully connected

200

In [44]:
# Make a DataFrame of all NCAA men's basketball teams
teams = pd.DataFrame(r.json()['teams'])

# The name of the conference is embedded in a conference variable, so this code pulls it out
teams['conference_name'] = teams['conference'].apply(lambda x: x['name'] if isinstance(x, dict) else None)

# split record into wins and losses and make them numeric so we can run analyses on data
teams['wins'] = teams['record'].apply(lambda x: int(x.split('-')[0]) if isinstance(x, str) else None)
teams['losses'] = teams['record'].apply(lambda x: int(x.split('-')[1]) if isinstance(x, str) else None)

# Limit DataFrame to just variables I'm interested in
teams = teams[['name', 'abbreviation', 'mascot', 'wins', 'losses', 'conference_name']]

# Get rid of teams that aren't part of any conference
for index, team in teams.iterrows():
    if (team['conference_name']) == None:
        teams = teams.drop(index)

teams.reset_index(drop=True, inplace=True)
teams # print dataframe

,name,abbreviation,mascot,wins,losses,conference_name
0,Abilene Christian,ACU,Wildcats,16.0,18.0,Western Athletic Conference
1,Air Force,AF,Falcons,9.0,22.0,Mountain West Conference
2,Akron,AKRN,Zips,24.0,11.0,Mid-American Conference
3,Alabama,BAMA,Crimson Tide,25.0,12.0,Southeastern Conference
4,Alabama A&M,AAMU,Bulldogs,12.0,23.0,Southwestern Athletic Conference
...,...,...,...,...,...,...
358,Wright State,WRST,Raiders,18.0,14.0,Horizon League
359,Wyoming,WYO,Cowboys,15.0,17.0,Mountain West Conference
360,Xavier,XAV,Muskateers,16.0,18.0,Big East Conference
361,Yale,YALE,Bulldogs,23.0,10.0,Ivy League
362,Youngstown State,YSU,Penguins,22.0,10.0,Horizon League

In [45]:
# Make a csv file of the data
teams.to_csv('NCAAbasketball.csv', index = True)

In [66]:
# Get average wins and losses among teams in each conference
wins = teams.groupby('conference_name')['wins'].mean().sort_values(ascending=False)
losses = teams.groupby('conference_name')['losses'].mean().sort_values(ascending=False)
wins.values
conference = pd.DataFrame(wins, losses) # fix this
conference

           wins
losses
23.000000   NaN
19.333333   NaN
18.900000   NaN
18.125000   NaN
17.750000   NaN
17.000000   NaN
16.900000   NaN
16.615385   NaN
16.600000   NaN
16.583333   NaN
16.500000   NaN
16.444444   NaN
16.428571   NaN
16.090909   NaN
16.000000   NaN
15.800000   NaN
15.777778   NaN
15.777778   NaN
15.454545   NaN
15.250000   NaN
15.222222   NaN
15.200000   NaN
15.153846   NaN
15.000000   NaN
14.888889   NaN
14.818182   NaN
14.500000   NaN
14.266667   NaN
14.000000   NaN
13.875000   NaN
13.375000   NaN
13.250000   NaN